/* CSS styles for the registration form */
/* CSS styles for the login form */

.form-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #4285f4;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.3);
  }
  
  .form-button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-button:hover {
    background-color: #3367d6;
  }

  .spn{
    font-size: 12px; 
    text-align: center;
 }

 .all button {
  background-color: rgb(157, 202, 204);
  color: rgb(30, 27, 27);
  padding: 0.5rem  1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius:0.25rem ;
  cursor:pointer;
}
 .all button:hover{
  background-color: #f2f2f2;
}
  
  